body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

.main{
    display: flex;
    flex-direction: row-reverse;

    width: 1200px;
    margin: 0 auto;
}

.main-content{
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

.about{
    margin-bottom: 40px;
}

.about-position{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
}


.about-name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 25px;
}

.about-description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 400px;
    color: #595959;
}
.projects{
    margin-bottom: 50px;
}



.title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.projects-list{
    padding:0;
    margin-left: 15px;
}

.project-item{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project,
.project-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link{
    margin-left: 10px;
}

.project-bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.work{
    
}


.work-position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-list{
    padding:0;
    margin-left: 15px;

}

.work-list-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work-position{
    margin-top: 11px;
}
.education{
    
}

.education-title{
    padding-bottom: 12px;
}

.sidebar{
    background-color: #1e2939;
    padding-top: 40px;
    width: 370px;
}

.photo{
    width: 370px;
    margin-bottom: 50px;
}

.contacts,
.tech-skills
{
    margin-left: 40px;
}

.contacts{
    margin-bottom: 50px;
}
.sidebar-title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact-type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color:#FFFFFF;
    margin-right: 5px;
}

.contact-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
}

.tech-skills-list{
    color:#FFFFFF;
    padding: 0;
    margin-left: 17px;
    margin-bottom: 44px;
}

.tech-skills-item{
    color: #FB6D3A;
}

.tech-skills-text{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.soft-skills-title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-left: 40px;
}

.soft-skills-item{
    color:#FB6D3A;
}

.soft-skills-text{
    color:#FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.soft-skills-list{
    margin-left: 17px;
}